.profile__box {
  padding-bottom: 32px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .profile__box {
    flex-direction: row;
    padding-bottom: 0;
    max-width: calc(100% - 150px - 42px);
  }
}