.form__text-box {
  all: unset;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 9px;
}
